---
import "./BlogHeader.css";
const { title, pubDate, modDate } = Astro.props;
const pathname = Astro.url.pathname;
---

<header class="blog-header">
  <h1>{title}</h1>
  <div class="header-contents">
    <p>
      <span>投稿日: <time datetime={pubDate.toISOString()}>{pubDate.toISOString().slice(0, 10)}</time></span><wbr>
      <span>最終更新日: <time datetime={modDate.toISOString()}>{modDate.toISOString().slice(0, 10)}</time></span>
    </p>
    <p>
    <span>
      <a target="_blank" rel="noopener noreferrer" href={`https://x.com/intent/tweet?text=${encodeURIComponent(`${title} - 綿糸てせのブログ`)}&url=${encodeURIComponent(`https://ctes091x.net${pathname}`)}`} >ツイート</a></span>
    </span>
    <span>
      <a target="_blank" rel="noopener noreferrer" href={`https://github.com/ctes091x/ctes091x.net/blob/master/src/pages${pathname.endsWith("/") ? pathname.slice(0,-1) : pathname}.md`}>GitHubで見る</a>
    </span>
    </p>
  </div>
</header>

