---
import Header from "../components/Header.astro"
import Footer from "../components/Footer.astro"
import HeadSEO from "../components/HeadSEO.astro"

import "../styles/global.css"

const { type, title, ogImage } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>{title} - 綿糸てせ{(type=="blog" ? "のブログ" : "")}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <HeadSEO type={type} title={title} ogImage={ogImage} />
    <!--<script src={bootstrap}></script>-->
    <style is:global>img{max-width:100%;}</style>
  </head>
  <body>
    <Header />
    <main>
      <div>
        <slot />
      </div>
    </main>
    <Footer />
  </body>
</html>

